@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
          rel="stylesheet" />
</head>

<body>
    <section class="vh-100" style="background-color: rgb(240, 240, 240);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Employee Log in</h3>
                            <form asp-controller="Home" asp-action="Login" medthod="post">
                            <div class="form-outline mb-4">
                                <input type="text" id="username" name="username" class="form-control form-control-lg" />
                                    <label class="form-label" for="username">Employee ID</label>
                            </div>

                            <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Password</label>
                            </div>

                            <!-- Checkbox -->
@*                            <div class="form-check d-flex justify-content-start mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                <label class="form-check-label" for="form1Example3"> Remember password </label>
                            </div>*@

                                <button class="btn btn-primary btn-lg btn-block" name="empid" type="submit" value="emp">Login</button>

                            <hr class="my-4">
                            <p class="text-center">OR</p>

                            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                                    type="submit" onclick="location.href='@Url.Action("LoginType", "Home" )'">
                                @*<i class="fab fa-google me-2"></i>*@ Login as Admin
                            </button>
                            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                                        type="submit" onclick="location.href='@Url.Action("registration", "Home" )'">
                                @*<i class="fab fa-facebook-f me-2"></i>*@ Register Employee
                            </button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>

</body>
</html>



@*<h1>emplogin</h1>
<form asp-controller="Home" asp-action="Login" medthod="post">
    <h1>Login</h1>
    <h3>username</h3>
    <input name="username" type="text" />
    <h3>password</h3>
    <input name="password" type="password" />
    <button name="empid" type="submit" value="emp">Login</button>
</form>*@
