@{
    ViewData["Title"] = "Agriculture";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agicultural.styles.css" asp-append-version="true" />
</head>r
<body>

    <h1>LoginType</h1>
    <form asp-controller="Home" asp-action="LoginType" method="post">
        <div class="container" style="background-color: pink;">
            <div class="row">
                <div class="col-lg">
                    <button class="btn btn-outline-primary" type="submit" name="admin" value="admin">Administrator</button>
                </div>
                <div class="col-lg">
                    <button class="btn btn-outline-secondary" type="submit" name="timein" value="timein">Time In</button>
                </div>
                <div class="col-lg">
                    <button class="btn btn-outline-success" type="submit" name="employee" value="emp">Employee</button>
                </div>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>