
@{
    ViewData["Title"] = "LoginType";
}

<h1>LoginType</h1>
<form asp-controller="Home" asp-action="LoginType" method="post">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    
    <button type="submit" name="admin" value="admin11">Administrator</button>
    <button type="submit" name="timein" value="timein">Time In</button>
    <button type="submit" name="employee" value="employee">Employee</button>
</form>
