@*@model List<QrModel>*@
@{
    ViewData["Title"] = "viewQr";
    Layout = null;
}

<h1>viewQr</h1>

    @*<form asp-controller="Home" asp-action="Jav" method="post">*@
 @*   <input type="text" id="qr" />
    <button id="btn">Generate</button>*@


    <img id="qrs" src="data:image/jpeg;base64,@ViewData["d"].ToString()" />
    @*<img id="qrs" height="500" width="500" />*@

    @*<img id="qrs" src="data:image/jpeg;base64,@Model[0].ToString()" />*@
    @*</form>*@
